body{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: brown;
    text-shadow: chocolate;
}
ul{
    color: green;
    font-size: 25px;
    font-weight: bold;
}
h2{
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: 20px;
    color: darkorchid;
}
img:hover{
    transform:scale(0.9);
}
#contact a{
    text-decoration: underline !important;
    color:cornflowerblue !important;
}
.links:hover{
    font-size: 25px;
    color: deepskyblue;
}
#contact{
    background-color: pink;
    text-align: center;
    
}
.contact1 h3{
    display:inline;
}